// ----------------------------------------------------
// ----- VARIABLES -----
// ----------------------------------------------------

// --- Colors ---
$white: #fff;
$black: #000;
$persian-green: #00B289;
$cloud-burst: #22354C;
$scorpion: #595959;
$cod-gray: #1A1A1A;
$wild-sand: #F5F5F5;
$international-orange: #FD5900;

// --- Font ---
$font-base: 'Ubuntu', sans-serif;


// --- Media Queries ---
$mobile_land__640: "(min-width: 40em)";
$tablet__768: "(min-width: 48em)";
$tablet_land__1024: "(min-width: 64em)";
$desktop__1280: "(min-width: 80em)";
$large__screens__1440: "(min-width: 90em)";
$full__screens__1600: "(min-width: 100em)";
$HD__screens__1920: "(min-width: 120em)";

/* ----- END OF VARIABLES ----- */